<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="d-flex align-items-center mb-3">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Books</li>
                </ol>
                <h1 class="page-header mb-0">Books</h1>
            </div>
            <div class="ms-auto">
                <a href="/admin/book/create" class="btn btn-success btn-rounded px-4 rounded-pill"><i class="fa fa-plus fa-lg me-2 ms-n2 text-success-900"></i> Add Book</a>
            </div>
        </div>

        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col-12 -->
            <div class="col-12">
                <!-- BEGIN panel -->
                <div class="panel panel-inverse" data-sortable-id="table-basic-7">
                    <!-- BEGIN panel-heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title">All Books</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <!-- END panel-heading -->
                    <!-- BEGIN panel-body -->
                    <div class="panel-body">
                        <!-- BEGIN table-responsive -->
                        <div class="table-responsive" th:switch="${allBooks}">
                            <h2 th:case="null">No books yet!</h2>
                            <table class="table table-striped mb-0 align-middle" th:case="*">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">#</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Author</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th style="width: 1%"> </th>
                                    </tr>
                                </thead>
                                <tbody th:switch="${allBooks}">
                                    <tr th:each="book:${allBooks}">
                                        <td>
                                            <img th:src="@{'data:image/jpeg;base64,'+${book.image}}" style="width: 50px">
                                        </td>
                                        <td>
                                            <h6 th:text="${book.name}">Book name...</h6>
                                        </td>
                                        <td th:text="${book.category.name}">Category name...</td>
                                        <td th:text="${book.author.firstName + ' ' + book.author.lastName}">Author name...</td>
                                        <td th:text="${'€' + book.getFormattedPrice()}">Book price...</td>
                                        <td th:text="${book.quantity}">Book quantity...</td>
                                        <td nowrap>
                                            <a th:href="@{'/admin/book/edit/' + ${book.IDBook}}" class="btn btn-sm btn-primary w-60px me-1" >Edit</a>
                                            <a th:href="@{'/admin/book/delete/' + ${book.IDBook}}" class="btn btn-sm btn-danger w-60px deleteBook">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END table-responsive -->
                    </div>
                    <!-- END panel-body -->
                </div>
                <!-- END panel -->
            </div>
            <!-- END col-12 -->
        </div>
        <!-- END row -->
    </section>

    <div layout:fragment="javascript">
        <script>
            const deleteBook = document.querySelectorAll(".deleteBook");

            for (const deleteBookElement of deleteBook) {
                deleteBookElement.addEventListener("click", (e) => {
                    e.preventDefault();
                    const href = e.target.href;

                    swal({
                        title: 'Are you sure?',
                        text: 'You will not be able to recover this action!',
                        buttons: {
                            cancel: {
                                text: 'Cancel',
                                value: null,
                                visible: true,
                                className: 'btn btn-default',
                                closeModal: true,
                            },
                            confirm: {
                                text: 'Delete',
                                value: true,
                                visible: true,
                                className: 'btn btn-danger',
                                closeModal: true
                            }
                        }
                    }).then((result) => {
                        if (result) {
                            location.assign(href);
                        }
                    });
                })
            }
        </script>
    </div>
</body>
</html>