<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <title>Layout page</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- ================== BEGIN core-css ================== -->
        <link href="css/vendor.min.css" rel="stylesheet" />
        <link href="css/default/app.min.css" rel="stylesheet" />
        <!-- ================== BEGIN page-css ================== -->

        <!-- ================== END page-css ================== -->
    </head>
    <body>
        <!-- BEGIN #loader -->
        <div id="loader" class="app-loader">
            <span class="spinner"></span>
        </div>
        <!-- END #loader -->
        <!-- ================== BEGIN BASE JS ================== -->
        <script src="js/vendor.min.js"></script>
        <script src="js/app.min.js"></script>
        <!-- ================== BEGIN page-js ================== -->

        <!-- ================== END page-js ================== -->
    </body>
</html>