<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <title>Layout page</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- ================== BEGIN core-css ================== -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <link href="/css/vendor.min.css" rel="stylesheet" />
        <link href="/css/app.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- BEGIN #page-container -->
        <div id="page-container" class="fade show">
            <!-- BEGIN #header -->
            <div id="header" class="header">
                <!-- BEGIN container -->
                <div class="container">
                    <!-- BEGIN header-container -->
                    <div class="header-container">
                        <!-- BEGIN navbar-toggle -->
                        <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- END navbar-toggle -->
                        <!-- BEGIN header-logo -->
                        <div class="header-logo">
                            <a href="/">
                                <span class="brand-logo"></span>
                                <span class="brand-text">
                                        <span>Book</span>Store
                                        <small>book e-commerce solution</small>
                                    </span>
                            </a>
                        </div>
                        <!-- END header-logo -->
                        <!-- BEGIN header-nav -->
                        <div class="header-nav">
                            <div class="collapse navbar-collapse" id="navbar-collapse">
                                <ul class="nav justify-content-center">
                                    <li th:classappend="${requestUri == '/' ? 'active':''}"><a href="/">Home</a></li>
                                    <li th:classappend="${requestUri.startsWith('/category') ? 'active':''}" class="dropdown dropdown-hover">
                                        <a href="#"  data-bs-toggle="dropdown">
                                            Books
                                            <b class="caret"></b>
                                            <span class="arrow top"></span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" th:each="category:${allCategories}" th:href="@{'/category/' + ${category.IDCategory}}" th:text="${category.name}">Category name...</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END header-nav -->
                        <!-- BEGIN header-nav -->
                        <div class="header-nav">
                            <ul class="nav justify-content-end">
                                <li class="dropdown dropdown-hover">
                                    <a href="#" class="header-cart" data-bs-toggle="dropdown">
                                        <i class="fa fa-shopping-bag"></i>
                                        <span class="total" th:text="${cart != null ? cart.items.size(): '0' }">0</span>
                                        <span class="arrow top"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-cart p-0">
                                        <div class="cart-header">
                                            <h4 class="cart-title">Shopping Bag (<span th:text="${cart != null ? cart.items.size(): '0' }">0</span>) </h4>
                                        </div>
                                        <div class="cart-body" th:switch="${cart}">
                                            <h6 th:case="null">No books yet!</h6>
                                            <ul class="cart-item" th:case="*">
                                                <li th:each="data:${cart.items}">
                                                    <div class="cart-item-image">
                                                        <img th:src="@{'data:image/jpeg;base64,'+${data.book.image}}" alt="" />
                                                    </div>
                                                    <div class="cart-item-info">
                                                        <h4 th:text="${data.book.name}">Title</h4>
                                                        <p class="price" th:text="${'€' + data.book.getFormattedPrice()}">Price</p>
                                                    </div>
                                                    <div class="cart-item-close">
                                                        <a th:href="@{'/deleteFromCart/' + ${data.book.IDBook}}" class="removeFromCartBtn" data-bs-toggle="tooltip" data-bs-title="Remove">&times;</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cart-footer">
                                            <div class="row gx-2">
                                                <div class="col-6">
                                                    <a href="/cart" class="btn btn-default btn-theme d-block">View Cart</a>
                                                </div>
<!--                                                <div class="col-6">-->
<!--                                                    <a href="/checkout" class="btn btn-dark btn-theme d-block">Checkout</a>-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <img src="../img/user/user-1.jpg" class="user-img" alt="" />-->
<!--                                    </a>-->
<!--                                </li>-->
                                <li>
                                    <a href="#" style="display: inline; padding: 0 0 0 16px">Login</a> / <a href="#" style="display: inline; padding: 0">Register</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END header-nav -->
                    </div>
                    <!-- END header-container -->
                </div>
                <!-- END container -->
            </div>
            <!-- END #header -->

            <section layout:fragment="content">
                <p>Page content goes here</p>
            </section>

            <!-- BEGIN #footer-copyright -->
            <div id="footer-copyright" class="footer-copyright">
                <!-- BEGIN container -->
                <div class="container">
                    <div class="payment-method">
                        <img src="../img/payment/payment-method.png" alt="" />
                    </div>
                    <div class="copyright">
                        Copyright &copy; <span th:text="${#dates.year(#dates.createNow())}"></span> BookStore. All rights reserved.
                    </div>
                </div>
                <!-- END container -->
            </div>
            <!-- END #footer-copyright -->
        </div>
        <!-- END #page-container -->
        <!-- ================== BEGIN BASE JS ================== -->
        <script src="/js/vendor.min.js"></script>
        <script src="/js/app.min.js"></script>
        <script src="/admin/plugins/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            (() => {
                const removeFromCartBtns = document.querySelectorAll(".removeFromCartBtn");
                for (const removeFromCartBtn of removeFromCartBtns) {
                    removeFromCartBtn.addEventListener("click", (evt) => {
                        evt.preventDefault();


                        const url = evt.target.href;

                        swal({
                            title: 'Are you sure?',
                            text: 'You will not be able to recover this action!',
                            buttons: {
                                cancel: {
                                    text: 'Cancel',
                                    value: null,
                                    visible: true,
                                    className: 'btn btn-default',
                                    closeModal: true,
                                },
                                confirm: {
                                    text: 'Delete',
                                    value: true,
                                    visible: true,
                                    className: 'btn btn-danger',
                                    closeModal: true
                                }
                            }
                        }).then((result) => {
                            if (result) {
                                fetch(url)
                                    .then((res) => res.text())
                                    .then((data) => {
                                        if (data == "true"){
                                            location.reload();
                                        } else {
                                            console.warn("Nekaj ne radi!")
                                        }
                                    })
                                    .catch((error) => console.warn("Nekaj ne radi!"))
                            }
                        });
                    });
                }
            })()
        </script>
        <!-- ================== BEGIN page-js ================== -->
        <div layout:fragment="javascript">

        </div>
        <!-- ================== END page-js ================== -->
    </body>
</html>